@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-drop: #ffffff;
  --background-drop-200: #f1f0f0;
  --background: #f1f0f0;
  --background-200: #161616;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-drop: #000000;
    --background-drop-200: #131313;
    --background: #161616;
    --background-200: #090909;
    --foreground: #d3c3b9;
  }
}

body {
  background: var(--background-drop);
  color: var(--foreground);
  font-family: var(--font-sans);
}
